extends ../src/_base

append body
  :inject(file="zepto-core.js")
  :inject(file="pug.js")
  center
    table.itemlist(border='0', cellpadding='0', cellspacing='0')
      tr#15409376.athing
        td.title(align='right', valign='top')
          span.rank 1.
        |
        td.votelinks(valign='top')
          center
            a#up_15409376(onclick='return vote(event, this, "up")', href='vote?id=15409376&how=up&auth=0574a0e98ecdc353f410b2c84f701f2c9e2622f5&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://medium.com/@cmdrtaco/a-pre-history-of-slashdot-6403341dabae') A Pre-History of Slashdot
          span.sitebit.comhead
            | (
            a(href='from?site=medium.com')
              span.sitestr medium.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15409376.score 449 points
          |  by
          a.hnuser(href='user?id=cmdrtaco') cmdrtaco
          |
          span.age
            a(href='item?id=15409376') 9 hours ago
          |
          span#unv_15409376
          |  |
          a(href='flag?id=15409376&auth=0574a0e98ecdc353f410b2c84f701f2c9e2622f5&goto=news') flag
          |  |
          a(href='hide?id=15409376&goto=news&auth=0574a0e98ecdc353f410b2c84f701f2c9e2622f5', onclick='return hidestory(event, this, 15409376)') hide
          |  |
          a(href='item?id=15409376') 224&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15407761.athing
        td.title(align='right', valign='top')
          span.rank 2.
        |
        td.votelinks(valign='top')
          center
            a#up_15407761(onclick='return vote(event, this, "up")', href='vote?id=15407761&how=up&auth=1fa5b93f8d9a56fe273fb022784d6d49000ca1d3&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://mathoverflow.net/questions/281447/mathematical-games-interesting-to-both-you-and-a-5-year-old-child') Mathematical games interesting to both you and a five-year-old child
          span.sitebit.comhead
            | (
            a(href='from?site=mathoverflow.net')
              span.sitestr mathoverflow.net
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15407761.score 437 points
          |  by
          a.hnuser(href='user?id=lainon') lainon
          |
          span.age
            a(href='item?id=15407761') 9 hours ago
          |
          span#unv_15407761
          |  |
          a(href='flag?id=15407761&auth=1fa5b93f8d9a56fe273fb022784d6d49000ca1d3&goto=news') flag
          |  |
          a(href='hide?id=15407761&goto=news&auth=1fa5b93f8d9a56fe273fb022784d6d49000ca1d3', onclick='return hidestory(event, this, 15407761)') hide
          |  |
          a(href='item?id=15407761') 87&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15412133.athing
        td.title(align='right', valign='top')
          span.rank 3.
        |
        td.votelinks(valign='top')
          center
            a#up_15412133(onclick='return vote(event, this, "up")', href='vote?id=15412133&how=up&auth=dafe7a91d2f3237b24be0b23709b4e210d49981f&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://www.nybooks.com/daily/2017/05/13/the-autocrats-language/') The Autocrat&apos;s Language
          span.sitebit.comhead
            | (
            a(href='from?site=nybooks.com')
              span.sitestr nybooks.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15412133.score 54 points
          |  by
          a.hnuser(href='user?id=ryan_j_naughton') ryan_j_naughton
          |
          span.age
            a(href='item?id=15412133') 2 hours ago
          |
          span#unv_15412133
          |  |
          a(href='flag?id=15412133&auth=dafe7a91d2f3237b24be0b23709b4e210d49981f&goto=news') flag
          |  |
          a(href='hide?id=15412133&goto=news&auth=dafe7a91d2f3237b24be0b23709b4e210d49981f', onclick='return hidestory(event, this, 15412133)') hide
          |  |
          a(href='item?id=15412133') 28&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15412686.athing
        td.title(align='right', valign='top')
          span.rank 4.
        |
        td.votelinks(valign='top')
          center
            a#up_15412686(onclick='return vote(event, this, "up")', href='vote?id=15412686&how=up&auth=cdbd9e4683405854a2fb023465a11600c27cd221&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://www.soundonsound.com/reviews/yamaha-ns10-story') The Yamaha NS10 Story &ndash; How a Hi-Fi Speaker Conquered the Studio World (2008)
          span.sitebit.comhead
            | (
            a(href='from?site=soundonsound.com')
              span.sitestr soundonsound.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15412686.score 29 points
          |  by
          a.hnuser(href='user?id=snthd') snthd
          |
          span.age
            a(href='item?id=15412686') 2 hours ago
          |
          span#unv_15412686
          |  |
          a(href='flag?id=15412686&auth=cdbd9e4683405854a2fb023465a11600c27cd221&goto=news') flag
          |  |
          a(href='hide?id=15412686&goto=news&auth=cdbd9e4683405854a2fb023465a11600c27cd221', onclick='return hidestory(event, this, 15412686)') hide
          |  |
          a(href='item?id=15412686') 16&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15410259.athing
        td.title(align='right', valign='top')
          span.rank 5.
        |
        td.votelinks(valign='top')
          center
            a#up_15410259(onclick='return vote(event, this, "up")', href='vote?id=15410259&how=up&auth=e14b532671e0a1418d7110de794ad8895698d32e&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://arcan-fe.com/2017/10/05/awk-for-realtime-multimedia/') Awk for multimedia
          span.sitebit.comhead
            | (
            a(href='from?site=arcan-fe.com')
              span.sitestr arcan-fe.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15410259.score 47 points
          |  by
          a.hnuser(href='user?id=poweredbyptrs')
            font(color='#3c963c') poweredbyptrs
          |
          span.age
            a(href='item?id=15410259') 3 hours ago
          |
          span#unv_15410259
          |  |
          a(href='flag?id=15410259&auth=e14b532671e0a1418d7110de794ad8895698d32e&goto=news') flag
          |  |
          a(href='hide?id=15410259&goto=news&auth=e14b532671e0a1418d7110de794ad8895698d32e', onclick='return hidestory(event, this, 15410259)') hide
          |  |
          a(href='item?id=15410259') 4&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15411056.athing
        td.title(align='right', valign='top')
          span.rank 6.
        |
        td.votelinks(valign='top')
          center
            a#up_15411056(onclick='return vote(event, this, "up")', href='vote?id=15411056&how=up&auth=2c9f005b8ab80d8659505bf10b37ce229ab4d0da&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://www.scylladb.com/2017/10/05/io-access-methods-scylla/') I/O Access Methods for Linux
          span.sitebit.comhead
            | (
            a(href='from?site=scylladb.com')
              span.sitestr scylladb.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15411056.score 115 points
          |  by
          a.hnuser(href='user?id=thekozmo') thekozmo
          |
          span.age
            a(href='item?id=15411056') 5 hours ago
          |
          span#unv_15411056
          |  |
          a(href='flag?id=15411056&auth=2c9f005b8ab80d8659505bf10b37ce229ab4d0da&goto=news') flag
          |  |
          a(href='hide?id=15411056&goto=news&auth=2c9f005b8ab80d8659505bf10b37ce229ab4d0da', onclick='return hidestory(event, this, 15411056)') hide
          |  |
          a(href='item?id=15411056') 32&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15413194.athing
        td.title(align='right', valign='top')
          span.rank 7.
        |
        td.votelinks(valign='top')
          center
            a#up_15413194(onclick='return vote(event, this, "up")', href='vote?id=15413194&how=up&auth=7f761e7febc11b3befae4e393dadf10b13dc6a35&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://thehill.com/homenews/administration/354156-john-kellys-phone-was-breaches-as-early-as-december-report?amp', rel='nofollow') General Kelly&apos;s phone was compromised
          span.sitebit.comhead
            | (
            a(href='from?site=thehill.com')
              span.sitestr thehill.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15413194.score 12 points
          |  by
          a.hnuser(href='user?id=subcosmos') subcosmos
          |
          span.age
            a(href='item?id=15413194') 38 minutes ago
          |
          span#unv_15413194
          |  |
          a(href='flag?id=15413194&auth=7f761e7febc11b3befae4e393dadf10b13dc6a35&goto=news') flag
          |  |
          a(href='hide?id=15413194&goto=news&auth=7f761e7febc11b3befae4e393dadf10b13dc6a35', onclick='return hidestory(event, this, 15413194)') hide
          |  |
          a(href='item?id=15413194') 4&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408800.athing
        td.title(align='right', valign='top')
          span.rank 8.
        |
        td.votelinks(valign='top')
          center
            a#up_15408800(onclick='return vote(event, this, "up")', href='vote?id=15408800&how=up&auth=93bfb70364a44d1968e71e5e43e175b93a5527d9&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://www.postgresql.org/about/news/1786/') PostgreSQL 10 Released
          span.sitebit.comhead
            | (
            a(href='from?site=postgresql.org')
              span.sitestr postgresql.org
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408800.score 780 points
          |  by
          a.hnuser(href='user?id=Tostino') Tostino
          |
          span.age
            a(href='item?id=15408800') 10 hours ago
          |
          span#unv_15408800
          |  |
          a(href='flag?id=15408800&auth=93bfb70364a44d1968e71e5e43e175b93a5527d9&goto=news') flag
          |  |
          a(href='hide?id=15408800&goto=news&auth=93bfb70364a44d1968e71e5e43e175b93a5527d9', onclick='return hidestory(event, this, 15408800)') hide
          |  |
          a(href='item?id=15408800') 227&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15409757.athing
        td.title(align='right', valign='top')
          span.rank 9.
        |
        td.votelinks(valign='top')
          center
            a#up_15409757(onclick='return vote(event, this, "up")', href='vote?id=15409757&how=up&auth=4e44a061fadcc3712fba992436025c0269a3b8fb&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.219.7269&rep=rep1&type=pdf') Modern B-Tree Techniques (2011)
          span.sitebit.comhead
            | (
            a(href='from?site=psu.edu')
              span.sitestr psu.edu
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15409757.score 194 points
          |  by
          a.hnuser(href='user?id=pointy_hat')
            font(color='#3c963c') pointy_hat
          |
          span.age
            a(href='item?id=15409757') 8 hours ago
          |
          span#unv_15409757
          |  |
          a(href='flag?id=15409757&auth=4e44a061fadcc3712fba992436025c0269a3b8fb&goto=news') flag
          |  |
          a(href='hide?id=15409757&goto=news&auth=4e44a061fadcc3712fba992436025c0269a3b8fb', onclick='return hidestory(event, this, 15409757)') hide
          |  |
          a(href='item?id=15409757') 7&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408712.athing
        td.title(align='right', valign='top')
          span.rank 10.
        |
        td.votelinks(valign='top')
          center
            a#up_15408712(onclick='return vote(event, this, "up")', href='vote?id=15408712&how=up&auth=353716c3f53c138477acbc649c038cc9a74cf6bc&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://lwn.net/SubscriberLink/734767/b8509e00378301f9/') Strategies for offline PGP key storage
          span.sitebit.comhead
            | (
            a(href='from?site=lwn.net')
              span.sitestr lwn.net
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408712.score 191 points
          |  by
          a.hnuser(href='user?id=discreditable') discreditable
          |
          span.age
            a(href='item?id=15408712') 10 hours ago
          |
          span#unv_15408712
          |  |
          a(href='flag?id=15408712&auth=353716c3f53c138477acbc649c038cc9a74cf6bc&goto=news') flag
          |  |
          a(href='hide?id=15408712&goto=news&auth=353716c3f53c138477acbc649c038cc9a74cf6bc', onclick='return hidestory(event, this, 15408712)') hide
          |  |
          a(href='item?id=15408712') 95&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15412002.athing
        td.title(align='right', valign='top')
          span.rank 11.
        |
        td.votelinks(valign='top')
          center
            a#up_15412002(onclick='return vote(event, this, "up")', href='vote?id=15412002&how=up&auth=d06c6801d3bb0d07835f1d540a6c58086ec7966c&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://www.spoon-tamago.com/2017/10/04/japanese-vending-machines-at-night-juxtaposed-with-a-wintry-hokkaido-landscape/') Japanese Vending Machines at Night Juxtaposed with a Wintry Hokkaido Landscape
          span.sitebit.comhead
            | (
            a(href='from?site=spoon-tamago.com')
              span.sitestr spoon-tamago.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15412002.score 171 points
          |  by
          a.hnuser(href='user?id=DamonHD') DamonHD
          |
          span.age
            a(href='item?id=15412002') 3 hours ago
          |
          span#unv_15412002
          |  |
          a(href='flag?id=15412002&auth=d06c6801d3bb0d07835f1d540a6c58086ec7966c&goto=news') flag
          |  |
          a(href='hide?id=15412002&goto=news&auth=d06c6801d3bb0d07835f1d540a6c58086ec7966c', onclick='return hidestory(event, this, 15412002)') hide
          |  |
          a(href='item?id=15412002') 43&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408217.athing
        td.title(align='right', valign='top')
          span.rank 12.
        |
        td.votelinks(valign='top')
          center
            a#up_15408217(onclick='return vote(event, this, "up")', href='vote?id=15408217&how=up&auth=77aff5bef93629d69a8851335f8a5266901339c3&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://github.com/alvarcarto/url-to-pdf-api') URL to PDF Microservice
          span.sitebit.comhead
            | (
            a(href='from?site=github.com')
              span.sitestr github.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408217.score 215 points
          |  by
          a.hnuser(href='user?id=kimmobru') kimmobru
          |
          span.age
            a(href='item?id=15408217') 12 hours ago
          |
          span#unv_15408217
          |  |
          a(href='flag?id=15408217&auth=77aff5bef93629d69a8851335f8a5266901339c3&goto=news') flag
          |  |
          a(href='hide?id=15408217&goto=news&auth=77aff5bef93629d69a8851335f8a5266901339c3', onclick='return hidestory(event, this, 15408217)') hide
          |  |
          a(href='item?id=15408217') 72&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15410953.athing
        td.title(align='right', valign='top')
          span.rank 13.
        |
        td.votelinks(valign='top')
          center
            a#up_15410953(onclick='return vote(event, this, "up")', href='vote?id=15410953&how=up&auth=670a824bdf4935570029280a29d03af4e19b787b&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://support.apple.com/en-us/HT208168') If macOS High Sierra shows your password instead of the password hint
          span.sitebit.comhead
            | (
            a(href='from?site=apple.com')
              span.sitestr apple.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15410953.score 450 points
          |  by
          a.hnuser(href='user?id=0x0') 0x0
          |
          span.age
            a(href='item?id=15410953') 5 hours ago
          |
          span#unv_15410953
          |  |
          a(href='flag?id=15410953&auth=670a824bdf4935570029280a29d03af4e19b787b&goto=news') flag
          |  |
          a(href='hide?id=15410953&goto=news&auth=670a824bdf4935570029280a29d03af4e19b787b', onclick='return hidestory(event, this, 15410953)') hide
          |  |
          a(href='item?id=15410953') 263&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15410531.athing
        td.title(align='right', valign='top')
          span.rank 14.
        |
        td.votelinks(valign='top')
          center
            a#up_15410531(onclick='return vote(event, this, "up")', href='vote?id=15410531&how=up&auth=a368bb312b916536cb6e27181f517020a9af671e&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://www.1843magazine.com/technology/rewind/the-crooked-timber-of-humanity') Lessons from France&apos;s first cyber-attack, nearly two centuries ago
          span.sitebit.comhead
            | (
            a(href='from?site=1843magazine.com')
              span.sitestr 1843magazine.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15410531.score 83 points
          |  by
          a.hnuser(href='user?id=ForHackernews') ForHackernews
          |
          span.age
            a(href='item?id=15410531') 6 hours ago
          |
          span#unv_15410531
          |  |
          a(href='flag?id=15410531&auth=a368bb312b916536cb6e27181f517020a9af671e&goto=news') flag
          |  |
          a(href='hide?id=15410531&goto=news&auth=a368bb312b916536cb6e27181f517020a9af671e', onclick='return hidestory(event, this, 15410531)') hide
          |  |
          a(href='item?id=15410531') 17&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15411261.athing
        td.title(align='right', valign='top')
          span.rank 15.
        |
        td.votelinks(valign='top')
          center
            a#up_15411261(onclick='return vote(event, this, "up")', href='vote?id=15411261&how=up&auth=6f18e287d85e687842922a7ed527f97a2cb69c46&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://ethereal.email/') Ethereal Email &ndash; A fake SMTP service
          span.sitebit.comhead
            | (
            a(href='from?site=ethereal.email')
              span.sitestr ethereal.email
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15411261.score 27 points
          |  by
          a.hnuser(href='user?id=andris9') andris9
          |
          span.age
            a(href='item?id=15411261') 5 hours ago
          |
          span#unv_15411261
          |  |
          a(href='flag?id=15411261&auth=6f18e287d85e687842922a7ed527f97a2cb69c46&goto=news') flag
          |  |
          a(href='hide?id=15411261&goto=news&auth=6f18e287d85e687842922a7ed527f97a2cb69c46', onclick='return hidestory(event, this, 15411261)') hide
          |  |
          a(href='item?id=15411261') 21&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408209.athing
        td.title(align='right', valign='top')
          span.rank 16.
        |
        td.votelinks(valign='top')
          center
            a#up_15408209(onclick='return vote(event, this, "up")', href='vote?id=15408209&how=up&auth=bf8567a855058c00ff59c2b557a57844960dd515&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://prisonism.co.uk/hmp-guide.html') HM Prison &ndash; A Survival Guide (2015)
          span.sitebit.comhead
            | (
            a(href='from?site=prisonism.co.uk')
              span.sitestr prisonism.co.uk
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408209.score 154 points
          |  by
          a.hnuser(href='user?id=asymmetric') asymmetric
          |
          span.age
            a(href='item?id=15408209') 12 hours ago
          |
          span#unv_15408209
          |  |
          a(href='flag?id=15408209&auth=bf8567a855058c00ff59c2b557a57844960dd515&goto=news') flag
          |  |
          a(href='hide?id=15408209&goto=news&auth=bf8567a855058c00ff59c2b557a57844960dd515', onclick='return hidestory(event, this, 15408209)') hide
          |  |
          a(href='item?id=15408209') 82&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15411041.athing
        td.title(align='right', valign='top')
          span.rank 17.
        |
        td.votelinks(valign='top')
          center
            a#up_15411041(onclick='return vote(event, this, "up")', href='vote?id=15411041&how=up&auth=d2bbc397ca7353eb16caf7be951121eca1076709&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://blog.panoply.io/the-power-struggle-in-the-cloud-db-war-just-shifted-paradigm') Cloud DB War: Autonomous Databases
          span.sitebit.comhead
            | (
            a(href='from?site=panoply.io')
              span.sitestr panoply.io
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15411041.score 63 points
          |  by
          a.hnuser(href='user?id=pafries') pafries
          |
          span.age
            a(href='item?id=15411041') 5 hours ago
          |
          span#unv_15411041
          |  |
          a(href='flag?id=15411041&auth=d2bbc397ca7353eb16caf7be951121eca1076709&goto=news') flag
          |  |
          a(href='hide?id=15411041&goto=news&auth=d2bbc397ca7353eb16caf7be951121eca1076709', onclick='return hidestory(event, this, 15411041)') hide
          |  |
          a(href='item?id=15411041') 29&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15411685.athing
        td.title(align='right', valign='top')
          span.rank 18.
        |
        td.votelinks(valign='top')
          center
            a#up_15411685(onclick='return vote(event, this, "up")', href='vote?id=15411685&how=up&auth=4d540850308472ae2907810880d15739fbe83223&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://www.npr.org/2017/10/05/555796327/following-disaster-teams-in-puerto-rico') Puerto Rican Hospitals Battle Life and Death Daily
          span.sitebit.comhead
            | (
            a(href='from?site=npr.org')
              span.sitestr npr.org
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15411685.score 101 points
          |  by
          a.hnuser(href='user?id=curtis') curtis
          |
          span.age
            a(href='item?id=15411685') 4 hours ago
          |
          span#unv_15411685
          |  |
          a(href='flag?id=15411685&auth=4d540850308472ae2907810880d15739fbe83223&goto=news') flag
          |  |
          a(href='hide?id=15411685&goto=news&auth=4d540850308472ae2907810880d15739fbe83223', onclick='return hidestory(event, this, 15411685)') hide
          |  |
          a(href='item?id=15411685') 41&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408784.athing
        td.title(align='right', valign='top')
          span.rank 19.
        |
        td.votelinks(valign='top')
          center
            a#up_15408784(onclick='return vote(event, this, "up")', href='vote?id=15408784&how=up&auth=5db78de056242372f44ad3ac9b8168a5c5e8b668&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://github.com/asciimoo/colly?source=hackernews') Colly: Fast and Elegant Scraping Framework for Golang
          span.sitebit.comhead
            | (
            a(href='from?site=github.com')
              span.sitestr github.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408784.score 91 points
          |  by
          a.hnuser(href='user?id=asciimoo') asciimoo
          |
          span.age
            a(href='item?id=15408784') 10 hours ago
          |
          span#unv_15408784
          |  |
          a(href='flag?id=15408784&auth=5db78de056242372f44ad3ac9b8168a5c5e8b668&goto=news') flag
          |  |
          a(href='hide?id=15408784&goto=news&auth=5db78de056242372f44ad3ac9b8168a5c5e8b668', onclick='return hidestory(event, this, 15408784)') hide
          |  |
          a(href='item?id=15408784') 53&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408600.athing
        td.title(align='right', valign='top')
          span.rank 20.
        |
        td.votelinks(valign='top')
          center
            a#up_15408600(onclick='return vote(event, this, "up")', href='vote?id=15408600&how=up&auth=eb09dead8099157670010f809d854b6594a1ed6e&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://alphaarchitect.com/2016/02/02/even-god-would-get-fired-as-an-active-investor/') Even God Would Get Fired as an Active Investor (2016)
          span.sitebit.comhead
            | (
            a(href='from?site=alphaarchitect.com')
              span.sitestr alphaarchitect.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408600.score 111 points
          |  by
          a.hnuser(href='user?id=elemeno') elemeno
          |
          span.age
            a(href='item?id=15408600') 11 hours ago
          |
          span#unv_15408600
          |  |
          a(href='flag?id=15408600&auth=eb09dead8099157670010f809d854b6594a1ed6e&goto=news') flag
          |  |
          a(href='hide?id=15408600&goto=news&auth=eb09dead8099157670010f809d854b6594a1ed6e', onclick='return hidestory(event, this, 15408600)') hide
          |  |
          a(href='item?id=15408600') 45&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15412570.athing
        td.title(align='right', valign='top')
          span.rank 21.
        |
        td.votelinks(valign='top')
          center
            a#up_15412570(onclick='return vote(event, this, "up")', href='vote?id=15412570&how=up&auth=d36c79bcf7b2684f5973ab7f2ba87d298b1466b7&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://webcast.softbank.jp/en/press/20100625/pdf/next_30-year_vision.pdf', rel='nofollow') SoftBank&rsquo;s Next 30-Year Vision (2010) [pdf]
          span.sitebit.comhead
            | (
            a(href='from?site=webcast.softbank.jp')
              span.sitestr webcast.softbank.jp
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15412570.score 8 points
          |  by
          a.hnuser(href='user?id=Artemis2') Artemis2
          |
          span.age
            a(href='item?id=15412570') 2 hours ago
          |
          span#unv_15412570
          |  |
          a(href='flag?id=15412570&auth=d36c79bcf7b2684f5973ab7f2ba87d298b1466b7&goto=news') flag
          |  |
          a(href='hide?id=15412570&goto=news&auth=d36c79bcf7b2684f5973ab7f2ba87d298b1466b7', onclick='return hidestory(event, this, 15412570)') hide
          |  |
          a(href='item?id=15412570') 3&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15409733.athing
        td.title(align='right', valign='top')
          span.rank 22.
        |
        td.votelinks(valign='top')
          center
            a#up_15409733(onclick='return vote(event, this, "up")', href='vote?id=15409733&how=up&auth=677b3fdb59a574ffb2f1315834e9fba34f4e9efc&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://simonwillison.net/2017/Oct/5/django-postgresql-faceted-search/') Implementing faceted search with Django and PostgreSQL
          span.sitebit.comhead
            | (
            a(href='from?site=simonwillison.net')
              span.sitestr simonwillison.net
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15409733.score 76 points
          |  by
          a.hnuser(href='user?id=simonw') simonw
          |
          span.age
            a(href='item?id=15409733') 8 hours ago
          |
          span#unv_15409733
          |  |
          a(href='flag?id=15409733&auth=677b3fdb59a574ffb2f1315834e9fba34f4e9efc&goto=news') flag
          |  |
          a(href='hide?id=15409733&goto=news&auth=677b3fdb59a574ffb2f1315834e9fba34f4e9efc', onclick='return hidestory(event, this, 15409733)') hide
          |  |
          a(href='item?id=15409733') 12&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15412901.athing
        td.title(align='right', valign='top')
          span.rank 23.
        |
        td.votelinks(valign='top')
          center
            a#up_15412901(onclick='return vote(event, this, "up")', href='vote?id=15412901&how=up&auth=fc4fc82fa9901c6f14acb73f06a889ffc241f06b&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://arstechnica.com/tech-policy/2017/10/bitcoin-fraudster-hit-with-9-1m-civil-judgment-on-top-of-criminal-guilty-plea/') GAW Miners founder owes nearly $10M to SEC over Bitcoin fraud
          span.sitebit.comhead
            | (
            a(href='from?site=arstechnica.com')
              span.sitestr arstechnica.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15412901.score 14 points
          |  by
          a.hnuser(href='user?id=lnguyen') lnguyen
          |
          span.age
            a(href='item?id=15412901') 1 hour ago
          |
          span#unv_15412901
          |  |
          a(href='flag?id=15412901&auth=fc4fc82fa9901c6f14acb73f06a889ffc241f06b&goto=news') flag
          |  |
          a(href='hide?id=15412901&goto=news&auth=fc4fc82fa9901c6f14acb73f06a889ffc241f06b', onclick='return hidestory(event, this, 15412901)') hide
          |  |
          a(href='item?id=15412901') 3&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408506.athing
        td.title(align='right', valign='top')
          span.rank 24.
        |
        td.votelinks(valign='top')
          center
            a#up_15408506(onclick='return vote(event, this, "up")', href='vote?id=15408506&how=up&auth=9c75f99a159cc7950721e68b3690dcfbeff08a8e&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://www.solipsys.co.uk/new/SieveOfEratosthenesInPython.html') Sieve of Eratosthenes in Python (2015)
          span.sitebit.comhead
            | (
            a(href='from?site=solipsys.co.uk')
              span.sitestr solipsys.co.uk
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408506.score 84 points
          |  by
          a.hnuser(href='user?id=ColinWright') ColinWright
          |
          span.age
            a(href='item?id=15408506') 11 hours ago
          |
          span#unv_15408506
          |  |
          a(href='flag?id=15408506&auth=9c75f99a159cc7950721e68b3690dcfbeff08a8e&goto=news') flag
          |  |
          a(href='hide?id=15408506&goto=news&auth=9c75f99a159cc7950721e68b3690dcfbeff08a8e', onclick='return hidestory(event, this, 15408506)') hide
          |  |
          a(href='item?id=15408506') 41&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408365.athing
        td.title(align='right', valign='top')
          span.rank 25.
        |
        td.votelinks(valign='top')
          center
            a#up_15408365(onclick='return vote(event, this, "up")', href='vote?id=15408365&how=up&auth=c3fbadce7f83a36a0e3dc834599b77c461cae702&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://www.wired.com/story/the-social-network-doling-out-millions-in-ephemeral-money/?mbid=nl_100417_backchannel_p1') A Social Network Doling Out Millions in Ephemeral Money
          span.sitebit.comhead
            | (
            a(href='from?site=wired.com')
              span.sitestr wired.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408365.score 81 points
          |  by
          a.hnuser(href='user?id=denzil_correa') denzil_correa
          |
          span.age
            a(href='item?id=15408365') 11 hours ago
          |
          span#unv_15408365
          |  |
          a(href='flag?id=15408365&auth=c3fbadce7f83a36a0e3dc834599b77c461cae702&goto=news') flag
          |  |
          a(href='hide?id=15408365&goto=news&auth=c3fbadce7f83a36a0e3dc834599b77c461cae702', onclick='return hidestory(event, this, 15408365)') hide
          |  |
          a(href='item?id=15408365') 40&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15410725.athing
        td.title(align='right', valign='top')
          span.rank 26.
        |
        td.votelinks(valign='top')
          center
            a#up_15410725(onclick='return vote(event, this, "up")', href='vote?id=15410725&how=up&auth=d4010014af1533b14db164500408d9d6f0562c2c&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://xn--fent-ipa.re') Show HN: Fen&ecirc;tre &ndash; Picture-in-picture for your mac
          span.sitebit.comhead
            | (
            a(href='from?site=xn--fent-ipa.re')
              span.sitestr xn--fent-ipa.re
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15410725.score 31 points
          |  by
          a.hnuser(href='user?id=NeekGerd') NeekGerd
          |
          span.age
            a(href='item?id=15410725') 6 hours ago
          |
          span#unv_15410725
          |  |
          a(href='flag?id=15410725&auth=d4010014af1533b14db164500408d9d6f0562c2c&goto=news') flag
          |  |
          a(href='hide?id=15410725&goto=news&auth=d4010014af1533b14db164500408d9d6f0562c2c', onclick='return hidestory(event, this, 15410725)') hide
          |  |
          a(href='item?id=15410725') 22&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408180.athing
        td.title(align='right', valign='top')
          span.rank 27.
        |
        td.votelinks(valign='top')
          center
            a#up_15408180(onclick='return vote(event, this, "up")', href='vote?id=15408180&how=up&auth=f6b7df66f1cedce992211c23ef85017b28b34407&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://www.anandtech.com/show/11891/best-cpus-for-workstations-2017') Best CPUs for Workstations: 2017
          span.sitebit.comhead
            | (
            a(href='from?site=anandtech.com')
              span.sitestr anandtech.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408180.score 236 points
          |  by
          a.hnuser(href='user?id=bem94') bem94
          |
          span.age
            a(href='item?id=15408180') 12 hours ago
          |
          span#unv_15408180
          |  |
          a(href='flag?id=15408180&auth=f6b7df66f1cedce992211c23ef85017b28b34407&goto=news') flag
          |  |
          a(href='hide?id=15408180&goto=news&auth=f6b7df66f1cedce992211c23ef85017b28b34407', onclick='return hidestory(event, this, 15408180)') hide
          |  |
          a(href='item?id=15408180') 152&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15408992.athing
        td.title(align='right', valign='top')
          span.rank 28.
        |
        td.votelinks(valign='top')
          center
            a#up_15408992(onclick='return vote(event, this, "up")', href='vote?id=15408992&how=up&auth=28731002acf20a15fc1bb90a8513854f2fad3881&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://morepypy.blogspot.com/2017/10/pypy-v59-released-now-supports-pandas.html') PyPy v5.9 Released
          span.sitebit.comhead
            | (
            a(href='from?site=morepypy.blogspot.com')
              span.sitestr morepypy.blogspot.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15408992.score 152 points
          |  by
          a.hnuser(href='user?id=mdf') mdf
          |
          span.age
            a(href='item?id=15408992') 9 hours ago
          |
          span#unv_15408992
          |  |
          a(href='flag?id=15408992&auth=28731002acf20a15fc1bb90a8513854f2fad3881&goto=news') flag
          |  |
          a(href='hide?id=15408992&goto=news&auth=28731002acf20a15fc1bb90a8513854f2fad3881', onclick='return hidestory(event, this, 15408992)') hide
          |  |
          a(href='item?id=15408992') 38&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15412746.athing
        td.title(align='right', valign='top')
          span.rank 29.
        |
        td.votelinks(valign='top')
          center
            a#up_15412746(onclick='return vote(event, this, "up")', href='vote?id=15412746&how=up&auth=4dee27c295363a419af839cda241394dbc3f6f6d&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='http://store.steampowered.com/app/598330/SimAirport/') Show HN: SimAirport &ndash; Our &apos;pivot&apos; from web dev
          span.sitebit.comhead
            | (
            a(href='from?site=steampowered.com')
              span.sitestr steampowered.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15412746.score 25 points
          |  by
          a.hnuser(href='user?id=adanto6840') adanto6840
          |
          span.age
            a(href='item?id=15412746') 2 hours ago
          |
          span#unv_15412746
          |  |
          a(href='flag?id=15412746&auth=4dee27c295363a419af839cda241394dbc3f6f6d&goto=news') flag
          |  |
          a(href='hide?id=15412746&goto=news&auth=4dee27c295363a419af839cda241394dbc3f6f6d', onclick='return hidestory(event, this, 15412746)') hide
          |  |
          a(href='item?id=15412746') 7&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr#15410637.athing
        td.title(align='right', valign='top')
          span.rank 30.
        |
        td.votelinks(valign='top')
          center
            a#up_15410637(onclick='return vote(event, this, "up")', href='vote?id=15410637&how=up&auth=034eccd8f7f0726b86b6c77703f3c3de403e283c&goto=news')
              .votearrow(title='upvote')
        td.title
          a.storylink(href='https://www.wsj.com/articles/russian-hackers-stole-nsa-data-on-u-s-cyber-defense-1507222108') Russian Hackers Stole NSA Data on U.S. Cyber Defense
          span.sitebit.comhead
            | (
            a(href='from?site=wsj.com')
              span.sitestr wsj.com
            | )
      tr
        td(colspan='2')
        td.subtext
          span#score_15410637.score 158 points
          |  by
          a.hnuser(href='user?id=NwmG') NwmG
          |
          span.age
            a(href='item?id=15410637') 6 hours ago
          |
          span#unv_15410637
          |  |
          a(href='flag?id=15410637&auth=034eccd8f7f0726b86b6c77703f3c3de403e283c&goto=news') flag
          |  |
          a(href='hide?id=15410637&goto=news&auth=034eccd8f7f0726b86b6c77703f3c3de403e283c', onclick='return hidestory(event, this, 15410637)') hide
          |  |
          a(href='item?id=15410637') 149&nbsp;comments
      |
      tr.spacer(style='height:5px')
      |
      tr.morespace(style='height:10px')
      tr
        td(colspan='2')
        td.title
          a.morelink(href='news?p=2', rel='nofollow') More
  :inject(file="grep.coffee")
