doctype html
html
  head
    title nested test
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    p a .pug file in a nested directory, with git info:
    p HEAD: #{src.GIT_HEAD}
