doctype html
html
  head
    title boardgamegeek
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    :inject(file="chart.css")
  body
    script#app(type="text/x-template")
      v-app
        v-container(fluid)
          v-row
            v-col(sm)
              .headline.text-center Select the players you want
              v-data-table(:items="players"
                           item-key="name"
                           v-model="selected"
                           :headers="headers.players"
                           hide-default-footer
                           disable-pagination
                           show-select)
            v-col(sm)
              .headline.text-center Stats about games between your players
              v-simple-table
                template(v-slot:default)
                  tr(v-for="(v,k) in stats" :key="k")
                    td.font-weight-bold(v-text="k")
                    td(v-text="v")
              v-data-table(:items="commonGames"
                           item-key="id"
                           :headers="headers.games"
                           hide-default-footer
                           disable-pagination)

    :inject(file="vue-dev.js")
    :inject(file="vuetify.js")
    :inject(file="moment.js")
    :inject(file="chart.js")
    :inject(file="lodash-custom.js")
    script.
      var bgg = !{JSON.stringify(src['bgg.json'])};
    :inject(file="bgg.coffee" bare)
