doctype html
html
  head
    title boardgamegeek
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    :inject(file="chart.css")
  body
    script#app(type="text/x-template")
      v-app
        v-container(fluid)
          v-row
            v-col(md="4")
              h2.text-center Select the players you want
              span &nbsp;
              v-data-table(:items="players"
                           item-key="name"
                           v-model="selected"
                           :headers="headers.players"
                           hide-default-footer
                           disable-pagination
                           show-select)
            v-col(md="8")
              h2.text-center Details
              h3.text-center(v-if="selected.length < 1") Select one or more players
              template(v-else)
                h3.text-center Quick stats
                v-simple-table(style="width:50%; margin:auto;")
                  template(v-slot:default)
                    tr(v-for="(v,k) in stats" :key="k")
                      td.font-weight-bold(v-text="k")
                      td(v-text="v")
                h3.text-center Full list
                v-data-table(:items="commonGames"
                             item-key="playid"
                             :headers="headers.games"
                             hide-default-footer
                             disable-pagination)
                  template(v-slot:item.players="{item}")
                    span.text-no-wrap(v-html="item.players")
                  template(v-slot:item.name="{item}")
                    a(:href="'https://boardgamegeek.com/boardgame/' + item.gameid") {{item.name}}
                  template(v-slot:item.date="{item}")
                    a.text-no-wrap(:href="'https://boardgamegeek.com/play/details/' + item.playid") {{item.date}}

    :inject(file="vue-dev.js")
    :inject(file="vuetify.js")
    :inject(file="moment.js")
    :inject(file="chart.js")
    :inject(file="lodash-custom.js")
    script.
      var bgg = !{JSON.stringify(src['bgg.json'])};
    :inject(file="bgg.coffee" bare)
