extends _base

append head
  title Hyperapp is really cool
  style !{css.bootstrap}

append body
  div This is a small test of Hyperapp
  #app
  a(href="index.html") Back to index
  script !{js.hyperapp}
  script !{coffee.hyper_test}
