extends _base

append head
  style !{css.bootstrap}
  style.
    svg.github { width: 30px }
  title Example index.html


append body
  div Hello!
  div !{svg.github}
  div
    a(href="hyper.html") Hyperapp demo
  script !{coffee.main}
