doctype html
html
  head
    title vue-chart
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    :inject(file="chart.css")
  body
    #app
      v-app
        v-container(fluid)
          v-row
            v-col(xs6)
              v-text-field(label="Group By", placeholder="30 minutes, 1 h, etc."
                           v-model="groupBy" :rules="[momentable]" ref="gb")
            v-col(xs6)
              v-text-field(label="Most Recent", placeholder="1 week, 1 y, etc."
                           v-model="mostRecent" :rules="[momentable]" ref="mr")

          v-row
            v-col.text-center(xs6)
              v-checkbox(label="Use random data" v-model="useRandomData")
          v-row(v-if="stats")
            v-col(xs2 v-for="(v,k) of stats" :key="k")
              b.text-no-wrap(v-html="k + ':'")
              span &nbsp;
              span.text-no-wrap(v-html="v")
          v-row
            v-col
              canvas#chart

    :inject(file="vue-dev.js")
    :inject(file="vuetify.js")
    :inject(file="moment.js")
    :inject(file="chart.js")
    :inject(file="lodash-custom.js")
    :inject(file="vue-chart.coffee" bare)
