doctype html
html
  head
    title vue-chart
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    :inject(file="chart.css")
  body
    script#app(type="text/x-template")
      v-app
        v-container(fluid)
          v-row
            v-col(xs6)
              v-text-field(label="Group By", placeholder="30 minutes, 1 h, etc."
                           v-model="groupBy" :rules="[momentable]" ref="gb" id="gb")
            v-col(xs6)
              v-text-field(label="Most Recent", placeholder="1 week, 1 y, etc."
                           v-model="mostRecent" :rules="[momentable]" ref="mr" id="mr")

          v-row(v-if="points.length === 0")
            v-col
              span No data points:&nbsp;
              v-btn(small @click="useRandomData = true") Use random data
              span &nbsp;or&nbsp;
              v-btn(small @click="pbpaste") Use data from clipboard

          v-row(v-if="stats")
            v-col(xs2 v-for="(v,k) of stats" :key="k")
              b.text-no-wrap(v-html="k + ':'")
              span &nbsp;
              span.text-no-wrap(v-html="v")
          v-row(v-if="stats")
            v-col
              v-tooltip(v-model="tooltip" bottom transition="scale-transition")
                template(v-slot:activator="{}")
                  v-btn(small @click="pbcopy") Copy {{dataSize}} to clipboard
                span(v-text="copyResult")
          v-row
            v-col
              canvas#chart
        .text-center
          v-dialog(v-model="pasteError.show" @keydown.esc="pasteError.show = false")
            v-card
              v-card-title(primary-title) Error pasting data from clipboard
              v-card-text(v-html="pasteError.text")

    :inject(file="vue-prod.js")
    :inject(file="vuetify.js")
    :inject(file="moment.js")
    :inject(file="chart.js")
    :inject(file="lodash-custom.js")
    :inject(file="filesize.js")
    :inject(file="bind-input-query-param.coffee")
    :inject(file="vue-chart.coffee" bare)
